@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    font-family: Jost;
}
.img-bg1{
    background-image: url(./bg-img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1075.px;
}
.img-bg2{
    background-image: url(./bg-img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1075px;
}
.logo{
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    margin-left: 150px;
    padding-top: 55px;
}
.headerKNOPKA{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    
}
.headerKNOPKAOBSH{
    display: flex;
    gap: 24px;
    margin-top: 59px;
    margin-left: 500px;
}



@media(max-width: 510px){
    .img-bg1{
        width: 100%;
        height: 1078px;
    }
    .img-bg2{
        width: 100%;
        height: 1079px;
    }
    .headerKNOPKAOBSH{
        display: none;
    }
    .logo{
        margin-left: 30px;
    }
}